@charset "utf-8";
/* Global Styles */

body {
	background: rgba(27, 27, 27, 0.44);
	background-image: url("../img/bg.jpeg");
    background-repeat: no-repeat;
	background-clip: inherit;
    margin-left: auto;
    margin-right: auto;
    size: 100%;
	background-size:cover;
    max-width: 960px;
    padding-left: 2.275%;
    padding-right: 2.275%;
    border-radius: 10px;
    background-blend-mode: overlay;
}

/* Header */
header {
	text-align: center;
	display: block;
	background: rgba(25,20,17,0.59);
	border-radius: 16px;
	box-shadow: 0 6px 60px rgba(0, 0, 0, 70);
	backdrop-filter: blur(8.8px);
	-webkit-backdrop-filter: blur(8.8px);
	border: 1px solid rgba(112,112,112,0.70);
}

header .profileLogo .logoPlaceholder {
	width: 187px;
	text-align: center;
		filter: none;

}

.profileLogo :hover {
	opacity: 0.94;
  }
  
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}

header .test33 {
	border-radius: 4px;
	background: rgba(0, 0, 0, 0.65);
	box-shadow: 4 4px 30px rgba(0, 0, 0, 0.65);
}

header .profilePhoto {
	background-color: rgba(56,51,46,0.70);
	width: 259px;
	border-radius: 20%;
	height: 259px;
	clear: both;
}
header .profileHeader h1 {
	font-family: 'Montserrat', sans-serif;
	color: rgba(216,160,50,1.00);
	text-shadow: 1px 1px rgba(30,30,30,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}

.blurbackg {
	background: rgba(47,47,47,0.57);
	border-radius: 13px;
  	padding: 20px; 
	clear: both;
	
	/* Add the blur effect */
  	filter: blur(8px);
  	-webkit-filter: blur(8px);
}

header .profileHeader h3 {
	font-family: sans-serif;
	font-weight: bold;
	color: rgba(145,78,153,1.00);
	text-shadow: 1px 1px rgba(30,30,30,1.00);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
hr {
	background-color: rgba(42,42,42,1.00);
	height: 5px;
}
header .profileHeader p {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	overflow-y: auto;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
}
header .socialNetworkNavBar .socialNetworkNav {
	border-radius: 50%;
	cursor: pointer;
}
header .socialNetworkNavBar .socialNetworkNav img:hover {
	opacity: 0.5;
}
/* Main Content sections */
.mainContent .section1 {
	display: block;
}

/* CONTENT TITLES */
.section1 .sectionTitle, .section2 .sectionTitle {
	font-family: 'Montserrat', sans-serif;
	color: rgba(84,84,84,1.00);
	text-shadow: 1px 1px rgba(30,30,30,1.00);
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	margin: 0 3% 0 0;
	float: left;
	clear: both;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(42,42,42,1.00);	
	height: 5px;
	padding: 0px;
}
.mainContent .section1 .section1Content {
	font-family: ProximaNova;
	font-size: 14px;
	font-weight: 100;
	color: rgba(208,207,207,1.00);
}
.mainContent .section1 .section1Content span {
	color: rgba(146,146,146,1.00);
	font-family: sans-serif;
}
.section2 .sectionContentTitle {
	font-family: sans-serif;
	text-shadow: 1px 1px rgba(30,30,30,1.00);
	color: rgba(145,78,153,1.00);
	font-size: 18px;
	font-weight: 700;
}
.section2 .sectionContentSubTitle {
	font-family: sans-serif;
	color: rgba(208,208,20,1.00);
	text-shadow: 1px 1px rgba(30,30,30,1.00);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
}
.mainContent {
	display: block;
}

/* 3 BUTTONS */
.mainContent .externalResourcesNav .externalResources {
	background-color: rgba(56,51,46,1.00);
	display: inline-block;
	text-align: center;
	border-radius: 25px;
	opacity: 0.66;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
    background-color: rgba(31,31,28,1.00);
    color: #D89800;
}
/* Button text ? */
.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(206,145,0,1.00);
	text-shadow: 1px 1px rgba(30,30,30,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(146,146,146,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {
	color: rgba(146,146,146,1.00);
	font-weight: 400;
}
footer .footerNote {
	font-family: sans-serif;
	font-size: 14px;
	line-height: 18px;
	color: rgba(146,146,146,1.00);
	font-weight: 700;
}
footer .footerNote span {
	color: rgba(146,146,146,1.00);
	font-weight: 400;
}

/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	text-align: center;
	margin-top: 10%;
}
header .profileHeader p {
	text-align: justify;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
	margin-bottom: 15%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.mainContent .section1 {
	text-align: center;
	margin-bottom: 10%;
}
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: inline-block;
	text-align: left;
	font-family: sans-serif;
	text-align: justify;
}
.mainContent .section2 {
	display: block;
	text-align: center;
}
.section2 .section2Content {
	margin-top: 10%;
	text-align: justify;
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav {
	margin-bottom: 10%;
}
.mainContent .externalResourcesNav .externalResources {
	width: 100%;
	height: 35px;
}
/* Footer */
footer {
	display: block;
	text-align: center;
	font-family: sans-serif;
}
}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
/* Header */
header {
	width: 100%;
	float: none;
}
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
}
header .profileHeader {
	text-align: left;
	margin-top: 7%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content and sections */
.section1 .section1Title, .section2 .section1Title {
	text-align: center;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 100%;
}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	display: none;
}
.mainContent .section1 .section1Content {
	display: block;
	margin: 0% 0% 0% 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 20%;
	font-family: sans-serif;
	margin-top: 5%;
	margin-bottom: 5%;
}
.mainContent .externalResourcesNav {
	margin-left: 20%;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
	margin-top: 5%;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-top: 10%;
}
header .socialNetworkNavBar .socialNetworkNav {
	width: 74px;
	height: 74px;
	display: inline-block;
	margin-right: 23px;
}
/* Main content sections */
.section1 .sectionTitleRule, .section2 .sectionTitleRule {
	width: 22.5%;
}
.mainContent .section1 .section1Content {
	display: block;
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 26%;
	margin-bottom: 0%;
	font-family: sans-serif;
}
.mainContent .section2 {
	clear: both;
}
.section2 .section2Content {
	padding: 0px;
	margin-left: 26%;
	font-family: sans-serif;
}
.mainContent .externalResourcesNav {
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	padding-top: 0px;
	clear: both;
}
.mainContent .externalResourcesNav .externalResources {
	width: 199px;
	height: 48px;
}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
}
footer .footerNote {
	float: right;
	margin-right: 3%;
	font-family: sans-serif;
}


	.main {
			width: 75%;
			float: left;
			text-align: center;
			display: block;
			background: rgba(25,20,17,0.59);
			border-radius: 16px;
			box-shadow: 0 6px 60px rgba(0, 0, 0, 70);
			backdrop-filter: blur(8.8px);
			-webkit-backdrop-filter: blur(8.8px);
			border: 1px solid rgba(112,112,112,0.70);
			display: grid;
			grid-template-columns: 75% 25%;
			grid-template-rows: 50px 200px 100px;
			grid-gap: 1em;
		}
	}
	

	.grid {
		text-align: center;
		display: block;
		background: rgba(25,20,17,0.49);
		border-radius: 16px;
		box-shadow: 0 2px 20px rgba(0, 0, 0, 30);
		backdrop-filter: blur(2.8px);
		-webkit-backdrop-filter: blur(2.8px);
		color: aliceblue;
		display: grid;
		grid-template-columns: 75% 25%;
		grid-template-rows: 50px 200px 100px;
		grid-gap: 1em;
			font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	}

footer2 {
		grid-column-start: 1;
		grid-column-end: 3;
		text-align: center;
		display: block;
		background: rgba(25,20,17,0.39);
		box-shadow: 0 6px 60px rgba(0, 0, 0, 70);
		backdrop-filter: blur(8.8px);
		-webkit-backdrop-filter: blur(8.8px);
		display: grid;
		grid-template-columns: 75% 25%;
		grid-template-rows: 50px 200px 100px;
		grid-gap: 1em;
		width: 98.3%;
		height: 120px;
	}
	header2 {
		grid-column-start: 1;
		grid-column-end: 3;
		display: block;
		background: rgba(25,20,17,0.39);
		box-shadow: 0 6px 60px rgba(0, 0, 0, 70);
		backdrop-filter: blur(8.8px);
		-webkit-backdrop-filter: blur(8.8px);
		display: grid;
		grid-template-columns: 75% 25%;
		grid-template-rows: 50px 200px 100px;
		grid-gap: 1em;
		width: 98.3%;
		height: 33px;
		text-align: right;
	}

	.grid > * {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	.wrapper {
    	display: grid;
    	grid-gap: 10px;
   	 	grid-template-columns: [col1-start] 100px  [col2-start] 100px  [col3-start] 100px;
   	 	grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
	}


	ul {
  		list-style-type: none;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
	}

	li {
  		float: left;
		padding-right: 8px;

		background: rgba(255, 255, 255, 0.05);
		border-radius: 6px;
		box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		border: 1px solid rgba(255, 255, 255, 0.11);
		padding-left: 5px;

	}

	li a {
  		display: block;
 		color: white;
		 float: left;

  		text-align: center;
 		padding-left: 40px;
		padding-right: 40px;
  		text-decoration: none;
		height: 28px;
	}

	/* Change the link color to #111 (black) on hover */
	li a:hover {
		background-repeat: no-repeat;
		background: rgba(11, 11, 11, 0.128);
		border-radius: 6px;
		background-size: contain;
		color: #D89800;
		text-shadow: 0 0 0.22px #ffffff4f, 0 0 5px #494444, 0 0 6px #e68e0071, 0 0 7px #e6c7005e, 0 0 7px #e6860066, 0 0 6px #e651005d, 0 0 4px #e6ad0081;
	}
}